services:
  engine:
    container_name: engine
    build: ./engine
    ports:
      - "8000:8000"
  server:
    container_name: server
    build: ./server
    ports:
      - "3000:3000"
  db:
    image: postgres:17
    container_name: db
    ports:
     - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
