:80 {
	handle /api/* {
		reverse_proxy server:3000 {
			lb_try_duration 30s
			lb_try_interval 1s
		}
	}
	handle /openapi/* {
		reverse_proxy server:3000 {
			lb_try_duration 30s
			lb_try_interval 1s
		}
	}
	handle {
		root * /srv
		file_server
		try_files {path} /index.html
	}
}
